@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background: black;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

.letter {
  display: inline-block;
  transform-origin: bottom;
  transition: all 0.3s ease;
}

.nav-link {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #2dd4bf;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.juverse-text {
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  .juverse-text {
    transform: scale(0.9);
    margin: 0 -1rem;
  }
}

.letter {
  transition: color 0.5s ease, text-shadow 0.5s ease;
}

canvas {
  touch-action: none;
}


/* From Uiverse.io by Galahhad */ 
.ui-btn {
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgb(8, 8, 8);
  --btn-transition: .4s;
  --btn-letter-spacing: .1rem;
  --btn-animation-duration: 1s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #4db6acb5;
  --default-btn-color: #fff;
  --font-size: 16px;
  --font-weight: 600;
}

/* button settings 👆 */

.ui-btn {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--font-weight) var(--font-size) var(--font-family);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
  border:1px solid #4DB6AC;
  


}

.ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: transparent;
}

.ui-btn:hover, .ui-btn:focus {
  background: var(--btn-hover-bg);
}

.ui-btn:hover span, .ui-btn:focus span {
  color: var(--hover-btn-color);
}

.ui-btn:hover span::before, .ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
  background: transparent;
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";
  }

  35% {
    content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}


/*  */

/* .glass-text {
  color: transparent;
  background: rgba(255, 255, 255, 0.2);
  -webkit-background-clip: text;
  backdrop-filter: blur(10px);
} */

 /* .glass-text {
  color: transparent;
  background: rgba(255, 255, 255, 0.23);
  -webkit-background-clip: text;
  backdrop-filter: blur(10px);
}  */

